*{
    background-color :black;
    padding : 0;
    margin : 0;
}
#canvas1{
    border:5px solid black;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:750px;
    height:950px;
    background-color: aquamarine !important;
}
.placar{
    color :gold !important;
    margin:15px 5px;
    float:right;
    width:300px;
    height: 150px;
    z-index: 2;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:30px;
    font-weight: bold;
}
.botoes{
    position:absolute;
    bottom:0;
    margin-bottom:20px;
    
}
#movDireita,#movEsquerda{
    width:75px;
    height:75px;
    margin: 0 10px;
    background-color:gold !important;
    cursor:pointer;
}
.botoes img{
    width:50px;
    height:50px;
    background-color:gold !important;
}
#looseGame{
    background-color:black !important;
    color:red !important;
    font-size:50px;
    text-align: center;
    z-index:2;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:750px;
    height:950px;
    display:none;
}
#looseGame h1{
    margin-top:20%;
}

